<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Elemental Anchoring Dapp  </title>
  <style type="text/css">
    .grid-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr ;
    }
  </style>
</head>
<body>

<div id="app">
  <h1>Elemental Anchoring Dapp</h1>
  <section v-show="!connected" class="grid-wrapper">
    <button v-on:click="connectMetamask()">
      Connect to Metamask 
    </button> 
    <button v-on:click="connectLocally()">
      Connect to local node (port 8545) 
   </button> 
  </section>
  <section  v-show="connected">
    <h2>Informations</h2>
    <div class="grid-wrapper">
      <div v-if="network"><b>Network</b>:<br>
        &nbsp; {{network.name}}, n° {{network.chainId}}</div>
      <div><b>User</b>: <br>
        &nbsp; {{ userAddress }} <br>
        &nbsp; Balance: {{userBalance}} , Transactions count: {{userTransactionCount}}
      </div>
    </div>

    <h2>Actions</h2>
    <input type="file" id="fichier" v-on:change="loadDocument()">
    <button v-on:click="addDocument()">add document</button> 
    <button v-on:click="checkDocument()">check document</button> 
    <p v-show="checkedDocDate"> {{checkedDocDate}}</p>
  </section>
 
  <section v-show="recentDocuments[0]" >
    <h2>Recently added documents</h2>
    <ol>
        <li v-for="document in recentDocuments">
          {{ document }}
        </li>
    </ol>   
  </section>


</div>
 <script src="app.js"></script>
 <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js"></script>

</body>
</html>

